/*
Two columns, one is map, one is text/inputs
*/

#wrapper{
  width: 99%;
  height: 99;
}

#right-column{
  border: 1px solid #FFF;
  width: 10px;
  height: 10px;
  float: left;
}

#left-column{
  border: 1px solid #FFF;
  width: 10px;
  height: 10px;
  float: right;
}
